/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: Lato Light;
}

img {
  width: 100%;
  max-width: fit-content;
  height: auto;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

.titles {
  font-style: italic;
  margin-top: 1rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.margin {
  margin: 2rem;
}

.padding {
  padding: 2rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.page-body {
  margin-bottom: 0rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.center {
  display: block;
  text-align: center;
}

/****************************
Colour Swatches
*****************************/

#independence-colour {
  background-color: #555B6E;
  padding: 1rem;
  width: 50%;
}

#morningblue-colour {
  background-color: #89B0AE;
  padding: 1rem;
  width: 50%;
}

#verdigris-colour {
  background-color: #41B0B0;
  padding: 1rem;
  width: 50%;
}

#newyorkpink-colour {
  background-color: #CC8B86;
  padding: 1rem;
  width: 50%;
}

#cultured-colour {
  background-color: #FAF9F9;
  padding: 1rem;
  width: 50%;
}

#black {
  background-color: #000;
  padding: 1rem;
  width: 50%;
}

.bg-colour {
  background-color: #FAF9F9;
}

/**About us image container
**/
.aboutus {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.aboutus .left-side {
  float: left;
  margin-right: 2rem;
  flex: 10 1 20%;
}

.aboutus .right-side {
  float: right;
  flex: 10 1 75%;
}

/**
Reviews testimonials section
**/

.reviews{
  margin: 2rem;
}

.reviews label{
  display: block;
  margin-right: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.reviews input{
  border: 0.1rem solid #89B0AE;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 30%;
  margin-bottom: 1rem;
}

.reviews textarea{
  width: 80%;
  height: 10rem;
  border: 0.1rem solid #89B0AE;
  border-radius: 0.2rem;
  padding: 0.2rem;
  background-color: white;
}


.reviews .testimonials {
  border: 0.1rem solid #89B0AE;
  background-color: #FAF9F9;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reviews span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/
/******************************
INTEXTLINK 
***************************/

.intext-link {
  color: lightgray;
}

.intext-link:hover, .intext-link:active {
  color: lightskyblue;
}

.intext-link:focus {
  color: mediumslateblue;
}

/**************************************
NAVIGATION BUTTON
REFERENCE FOR THE ARROWS:
https://www.w3schools.com/css/css3_buttons.asp
****************************************/

@font-face {
  font-family: "font-logo";
  src: url('/IAT339_P02/fonts/Transmetals.ttf') format('truetype'), url('/IAT339_P02/fonts/transmetals-webfont.woff2') format('woff2'), url('/IAT339_P02/fonts/transmetals-webfont.woff') format('woff');
}

.button-nav {
  font-family: "Montserrat";
  font-weight: bold;
  display: inline-block;
  padding: 1.5rem;
  color: #000;
  background-color: white;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.button-nav:hover, .button-nav:focus {
  text-decoration: none;
  color: #89B0AE;
}

.button-nav span {
  cursor: pointer;
  transition: 0.2s;
}

.button-nav span:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.button-nav:hover span:after {
  opacity: 1;
  right: 0;
}

/********************************
SUBMIT AND RESET BUTTON
********************************/

.submitreset {
  font-family: "Montserrat";
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  border: none;
  background-color: #41B0B0;
}

.submitreset:hover, .submitreset:active {
  opacity: 70%;
  text-decoration: none;
  transition: 0.5s;
}

.submitreset:focus {
  font-weight: bold;
}

/*BUTTON FOR CONTACT PAGE*/
.contact-button{
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #89B0AE;
  border-radius: 2rem;
  border: 0.25rem #89B0AE;
  border-style: solid;
  text-align: center;
  font-size: 1.25rem;
  font-family: Montserrat SemiBold;
  text-decoration: none;
  cursor: pointer;
}

.contact-button:hover , .contact-button:focus{
  background-color: #FAF9F9;
  color: #89B0AE;
}

/***********************************
INPUT ELEMENTS
REFERENCE: https://www.w3schools.com/css/css_form.asp
************************************/

input {
  border: 0.15rem solid #4a7fb3;
  border-radius: 0.4rem;
  padding: 0.2rem;
  background-color: white;
}

.input-stretch {
  width: 25%;
  transition: width 0.5s ease-in-out;
}

.input-stretch:active, .input-stretch:focus {
  width: 75%;
  border: 0.3rem solid #4a7fb3;
}

.input-gen:focus {
  border: 0.2rem solid #4a7fb3;
}

/*********************************************
RADIO BUTTONS
REFERENCE:
https://markheath.net/post/customize-radio-button-css 
***********************************************/

.radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio label {
  font-family: "Montserrat";
  font-weight: bold;
  background-color: white;
  color: #5db2d7;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "Lato";
  border: 0.12rem solid #5db2d7;
  border-radius: 0.75rem;
  margin: 0.5rem;
}

.radio input[type="radio"]:checked+label {
  color: white;
  background-color: #4a7fb3;
}

.radio input[type="radio"]:focus+label {
  border: 0.15rem solid;
  background-color: #77cde1;
}

.radio label:hover {
  color: white;
  background-color: #5db2d7;
  transition: 0.1s;
}

/* Other Radio Button Option*/

/* Styling for the radio button, inspired by: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */

.radio-container {
  display: block;
  position: relative;
  padding-left: 2.2rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #dadada;
  border-radius: 50%;
}

.radio-container:hover input~.radio-selected {
  background-color: #41B0B0;
}

.radio-container input:checked~.radio-selected {
  background-color: #89B0AE;
}

.radio-selected:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked~.radio-selected:after {
  display: block;
}

.radio-container .radio-selected:after {
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

/* Checkout Radio Buttons */

.radio-payment {
  /* Inspired by: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
  display: inline-block;
  position: relative;
  padding-left: 2.2rem;
  margin-left: 0.75rem;
  cursor: pointer;
  font-size: 16px;
}

.radio-payment input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-payment:hover input~.radio-selected {
  background-color: #41B0B0;
}

.radio-payment input:checked~.radio-selected {
  background-color: #89B0AE;
}

.radio-payment input:checked~.radio-selected:after {
  display: block;
}

.radio-payment .radio-selected:after {
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

/*****************************
TEXT ELEMENTS -------------------
*******************************/

h2 {
  font-family: "Montserrat";
  font-weight: bold;
}

h3 {
  font-family: "Montserrat";
  font-weight: semi-bold;
}

h4 {
  font-family: "Lato Light";
  font-weight: bold;
}

.sub2 {
  font-family: "Raleway";
  font-weight: normal;
}

p {
  font-family: "Lato Light";
}

/*****************************
IMAGE ELEMENTS
*****************************/

a>.img-overlay:hover, a>.img-overlay:active, a>img-overlay:focus {
  opacity: 0.5;
  transition: 0.5s ease;
}

/*************************************
LIST ITEMS ELEMENTS
REFERENCE: 
https://blog.prototypr.io/create-beautiful-numbered-lists-with-css-counters-726e705d9e14
***************************************/

.ol-styling {
  list-style: none;
  counter-reset: numlist;
}

.num-list {
  counter-increment: numlist;
  margin-bottom: 0.5rem;
}

.num-list:before {
  content: counter(numlist);
  font-family: "Montserrat";
  background: #89B0AE;
  color: white;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding-top: 0.25rem;
  margin-right: 0.75rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.rating-check{
    color: orange;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/************************************
NAVIGATION BAR SECTION HERE
REFERENCE: 
https://www.w3schools.com/css/css_navbar.asp
https://www.w3schools.com/howto/howto_css_responsive_header.asp
***************************************/

.navbar {
  background: white;
  border-bottom: darkgrey solid 0.1rem;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
}

.navbar img {
  margin-left: 0.5rem;
  vertical-align: bottom;
}

/*** 
Hide hamburguer in regular view
***/

.navbar label, #hamburger {
  display: none;
}

.navitems {
  display: flex;
  float: right;
}

/*******************************
PRODUCT LISTING SECTION HERE
REFERENCE: 
https://stackoverflow.com/questions/9913293/change-text-on-hover-then-return-to-the-previous-text/9913526
https://www.w3schools.com/howto/howto_css_product_card.asp
*********************************/

.listing {
  padding: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.listing .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listing .product {
  font-family: "Raleway";
  margin-bottom: 0.2rem;
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  max-width: 15rem;
}

.listing button {
  font: bold;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  outline: 0;
  color: white;
  background-color: #CC8B86;
  cursor: pointer;
  text-decoration: none;
}

.listing button:hover {
  opacity: 70%;
}

.listing button .cart {
  display: none;
}

.listing button:hover .price {
  display: none;
}

.listing button:hover .cart {
  text-decoration: none;
  transition: 0.5s ease-in;
  display: inline;
}

/*************************************
CHECKOUT CART SECTION
****************************************/

/**Container for entire cart**/

.mycart {
  padding: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 10rem;
}

.mycart .product-col {
  flex: 10 1 40%;
  text-align: left;
}

.mycart .quantity-col {
  flex: 0 1 auto;
  text-align: left;
}

.mycart .price-col {
  flex: 0 1 15%;
  text-align: right;
}

.mycart .price-show {
  flex: 0 1 15%;
  text-align: right;
}

/**For top part of cart to categorize items**/

.checkout-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: darkgrey solid 0.1rem;
}

/*Cart Contents*/

.checkout {
  font-family: "Raleway";
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: darkgrey solid 0.1rem;
}

.checkout:hover {
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.checkout img {
  margin-right: 2rem;
}

.checkout input[type="number"] {
  width: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.checkout button {
  font-family: "Montserrat";
  border: none;
  outline: 0;
  padding: 0.3rem;
  color: white;
  background-color: #555B6E;
  text-align: center;
  margin-top: 0.5rem;
  cursor: pointer;
}

.checkout button:hover {
  opacity: 70%;
}

.cart-summary {
  float: right;
}

/***********************
PAYMENT FORM HERE
REFERENCE: https://codepen.io/rstrahl/pen/rxmjgL
************************/

.payment-form {
  font-family: "Raleway";
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

.payment-form .details {
  display: flex;
  flex-direction: row;
}

.payment-form .details .left {
  flex: 10 1 70%;
  margin-right: 1rem;
  border-right: 1rem #000;
}

.payment-form .details .right {
  flex: 10 1 30%;
}

.payment-form .details label {
  flex: none;
  display: block;
  width: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.payment-form .details input[type=text], .details input[type=month], .details input[type=email], .details input[type=tel] {
  flex: 1 0 auto;
  display: block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 1.7rem;
}

.payment-form button {
  float: right;
}

/*FOOTER*/

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #89B0AE;
  text-align: left;
  color: white;
  width: 100%;
}

.footer h4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/*INDIVIDUAL PRODUCT PAGE*/

.product-container {
  margin: 2rem;
}

.product-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.product-category .image-col {
  width: 30%;
  align-self: center;
}

.product-category .infor-col {
  width: 50%;
}

.product-category button {
  margin-top: 2rem;
  float: right;
}

/*Carousel Scrollable Gallery*/
.gallery {
  box-sizing: border-box;
  text-align: center;
}

.gallery .pictures {
  display: none;
}

.slides {
  text-align: center;
}
.slides-circle {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  background-color: #89B0AE;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.galleryactive, .dot:hover {
  background-color: #555B6E;
}

/*MEDIA QUERIES*/

/*
tablet/mobile sizes and smaller
*/

@media (max-width: 50rem) {
  .payment-form .details {
    flex-direction: column;
  }
  .mycart {
    flex-wrap: -webkit-flex;
    flex-wrap: -ms-flex;
    flex-wrap: wrap;
  }
  .checkout-category .quantity-col, .price-col {
    display: none;
  }
  .product-category {
    flex-direction: column;
  }
  .product-category .image-col {
    width: 100%;
    align-self: center;
  }
  .product-category .infor-col {
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  .aboutus {
    flex-direction: column;
  }
}

/**
FOR NAVIGATION BAR HAMBURGER MENU
**/

@media screen and (max-width: 50rem) {
  /**
  Navbar hamburger icon on mobile view
  **/
  .navbar label {
    display: inline-block;
    color: white;
    background: #89B0AE;
    font-style: normal;
    padding: 1.25rem;
  }
  .navitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 0.1rem solid #89B0AE;
  }
  /**
  Toggles the hamburger icon in mobile view
  **/
  .navitems {
    display: none;
    float: none;
  }
  .navbar input:checked~.navitems {
    display: block;
    float: none;
  }
}